################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sprint9/.vs/Sprint9/v15/Server/sqlite3
